<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/home_detail.css" />
    <title>홈-디테일 화면</title>
  </head>
  <body>
    <nav>
      <div class="nav-logo">
        <img src="./img/logo_pur.png" />
      </div>
      <div class="nav-title">
        <div class="date">
          <p>2024년 7월</p>
        </div>
        <div class="rightbox">
          <div class="search">
            <!--<form class="search-box" action="" method="get">
              <input
                class="search-txt"
                type="text"
                name=""
                placeholder="입력하세요"
              />-->
            <a href="{% url 'cal:search' %}"
              ><button class="search-btn" type="submit">검색</button></a
            >
          </div>
          <a href="{%url 'checklist:notification'%}"
            ><div class="alarm-btn"></div
          ></a>
        </div>
      </div>
    </nav>

    <div class="container-schedule">
      <div class="schedule">
        <table class="month">
          <thead>
            <tr>
              <th>일</th>
              <th>월</th>
              <th>화</th>
              <th>수</th>
              <th>목</th>
              <th>금</th>
              <th>토</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="prev-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/6/30/">30</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/1/">1</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/2/">2</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/3/">3</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/4/">4</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/5/">5</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/6/">6</a>

                <!--달력에 일정 보여주기-->
              </td>
            </tr>

            <tr>
              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/7/">7</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/8/">8</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/9/">9</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/10/">10</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/11/">11</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/12/">12</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/13/">13</a>

                <!--달력에 일정 보여주기-->
              </td>
            </tr>

            <tr>
              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/14/">14</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/15/">15</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/16/">16</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="./home_detail.html">17</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/18/">18</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/19/">19</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/20/">20</a>

                <!--달력에 일정 보여주기-->
              </td>
            </tr>

            <tr>
              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/21/">21</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="./home_detail.html">22</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/23/">23</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/24/">24</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/25/">25</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/26/">26</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/27/">27</a>

                <!--달력에 일정 보여주기-->
              </td>
            </tr>

            <tr>
              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/28/">28</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/29/">29</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/30/">30</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="current-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/7/31/">31</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="next-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/8/1/">1</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="next-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/8/2/">2</a>

                <!--달력에 일정 보여주기-->
              </td>

              <td class="next-month">
                <!--링크를 위한 태그-->

                <a href="/cal/home2/2024/8/3/">3</a>

                <!--달력에 일정 보여주기-->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="divider"></div>
      <div class="planner">
        <span class="plan-date">22일 월요일</span>
        <div class="planlist">
          <div class="plan-group">
            <div class="titlebar"></div>
            <div class="plan-txt">
              <span class="title">내과 진료 예약</span>
              <span class="time">오후 12시 53분</span>
            </div>
          </div>
          <div class="plan-group">
            <div class="titlebar"></div>
            <div class="plan-txt">
              <span class="title">내과 진료 예약</span>
              <span class="time">오후 12시 53분</span>
            </div>
          </div>
        </div>
        <a href="planner_detail.html">
          <div class="add-btn"></div>
        </a>
      </div>
    </div>

    <div class="bottom-navigation">
      <a class="nav-menu" href="./home.html">
        <div class="menu">
          <img class="icon" src="img/nav-01home.png" />
          <span>홈</span>
        </div></a
      >
      <a class="nav-menu" href="#">
        <div class="menu">
          <img class="icon" src="img/nav-02checklist.png" />
          <span>체크리스트</span>
        </div></a
      >
      <a class="nav-menu" href="#">
        <div class="menu">
          <img class="icon" src="img/nav-03memo.png" />
          <span>기록</span>
        </div></a
      >
      <a class="nav-menu" href="#">
        <div class="menu">
          <img class="icon" src="img/nav-04mypage.png" />
          <span>마이페이지</span>
        </div></a
      >
    </div>
  </body>
</html>
